.ListNotes-container{    
    padding: 1rem 2rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    border-radius: 20px;
    margin-top: 30px;;
}

.ListNotes-name{
    color: rgb(43, 51, 106);
    font-family: 'Arial', sans-serif; /* Change to your desired font */
    font-size: 2.3rem; /* Change font size of links */
    font-weight: 800; /* Change font weight to make links bolder */
}
.ListNotes-slug{
    font-size: 1.1rem; /* Change font size of links */
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.ListNotes-cat{
    font-size: 1.1rem; 
    width: 40%;
    padding: 10px;
    margin: 10px 50px;
    border: 1px solid #ccc;
    appearance: none;
    color: gray;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.notes-list {
    padding: 1rem;
    display:flex;
}
.notes-book-button{
    font-family: 'Arial', sans-serif; 
    border: 1px solid #ccc; /* Border for the note card */
    border-radius: 8px; /* Rounded corners */
    padding:5px;
    margin:13px;
    background-color:white;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
.note-button-group{
    display: flex;
}
.book-button{
    font-family: 'Arial', sans-serif; 
    width:auto;
    background-color: rgb(43, 51, 106);
    border: 1px solid #ccc; /* Border for the note card */
    padding:10px 30px;
    color: rgb(255, 255, 255);
    border-radius: 8px; /* Rounded corners */
    margin :0px auto;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
.detail-button{
    font-family: 'Arial', sans-serif; 
    width:auto;
    background-color: rgb(43, 51, 106);
    border: 1px solid #ccc; /* Border for the note card */
    padding:10px 30px;
    color: rgb(255, 255, 255);
    border-radius: 8px; /* Rounded corners */
    margin :auto;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}


.book-button:hover{
    color: #f0f0f0;
    background-color: rgb(24, 32, 82);
    cursor:pointer;
    transform: scale(1.02,1.02);

    
}
.detail-button:hover{
    color: #f0f0f0;
    background-color: rgb(24, 32, 82);
    cursor:pointer;
    transform: scale(1.02,1.02);

}

.No-event{
    font-family: 'Arial', sans-serif; 
    display:block;
    color: rgb(43, 51, 106); 
    margin :auto;
    padding-top: 30px;
    font-weight: 700;
    font-size: 25px;
 
}

.note-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px; /* Fixed width for uniformity */
}

.note-card-image {
    width: 100%;
    height: 200px; /* Adjust as needed */
    object-fit: cover;
}

.note-card-info {
    padding: 1rem;
}

.note-card-info h3 {
    margin: 0 0 0.5rem;
}

.note-card-info p {
    margin: 0.25rem 0;
}
